<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Filtro Ciudad:</h4>
                <!-- <input type="text" class="form-control" placeholder=""> -->
                <!-- select2 custom-select -->
                <select class=" form-control " [(ngModel)]="ciudad"  (change)="cargarHotelesCiudad()" style="width: 100%; height:36px;">
                    <option>Select</option>
                    <option *ngFor="let ciudad of ciudades" (click)="mensaje()" [attr.value]="ciudad._id">{{ciudad.nombre_ciudad}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-3 animated fadeIn" *ngFor="let hotel of hoteles; let i  = index">
        <div class="card card-hotel">
            <img class="card-img-top img-responsive" src="../assets/images/big/img7.jpg" alt="Card image cap">
            <div class="card-body">
                <ul class="list-inline font-14">
                    <li class="">{{hotel.ciudad_id.nombre_ciudad}}</li>
                    <li *ngIf="hotel.estado == 'A'" class=""><span class="label label-success">Activo</span></li>
                    <li *ngIf="hotel.estado == 'I'" class=""><span class="label label-danger">Inactivo</span></li>
                </ul>
                <h4 class="title">{{hotel.nombre}}</h4>
                <div class="card-button-footer">
                    <a class="btn btn-primary pointer m-r-10"><i class="ti-pencil text-white"></i> </a>
                    <a (click)="desactivarHotel(hotel)" class="btn btn-danger pointer"><i class="ti-lock text-white"></i> </a>
                </div>
            </div>
            
        </div>
    </div>
</div>

<ngx-spinner bdOpacity = 0.9
bdColor = "rgba(219,219,219,0.67)"
size = "medium"
color = "#8e17db"
type = "square-jelly-box"
[fullScreen] = "true"
>
</ngx-spinner>