/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}
.table button{
    margin-right: 10px;
}

.card {
    // .card-button-footer{
    //     position: absolute;
    //     bottom: 10px;
    // }
    .title{
        height: 60px;
    }
}

.card-hotel{
    height: 345px;
}